.imc-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .imc-table th, .imc-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .imc-table th {
    background-color: #f2f2f2;
  }
  
  .imc-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .imc-table tbody tr:hover {
    background-color: #ddd;
  }